# test
spec
.env

# babel
babel.config.js

# rollup
rollup.config.js

# github
.github

# node
node_modules

# eslint
.eslintrc
.eslintignore

# ide
.theia
.vscode
.idea
.DS_Store

# typescript
tsconfig.json

# gitpod
.gitpod.yml
.gitpod.dockerfile
docker-compose.yml
